﻿@page "/stationdetails/{stationCode}"

@using WeatherDashboard.Api
@using WeatherDashboard.Models.Models.Results
@using ChartJs.Blazor.Charts
@using ChartJs.Blazor.ChartJS.Common
@using ChartJs.Blazor.ChartJS.Common.Properties
@using ChartJs.Blazor.ChartJS.Common.Enums
@using ChartJs.Blazor.ChartJS.Common.Legends
@using ChartJs.Blazor.ChartJS.Common.Axes
@using ChartJs.Blazor.ChartJS.LineChart
@using ChartJs.Blazor.ChartJS.BarChart
@using ChartJs.Blazor.Util
@using ChartJs.Blazor.ChartJS.Common.Wrappers
@inject WeatherStationController StationController
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<NavLink class="nav-link" href="/stations">
    Back to the stations list
</NavLink>
@if (_station == null)
{
    <div class="jumbotron p-3">
        <h5 class="display-5">Data is loading...</h5>
    </div>
}
else
{
    <div class="jumbotron p-3">
        <h5 class="display-5">@_station.StationName (@StationCode)</h5>
        <hr class="my-1">
        <p>First known date of operation: @_station.Start.ToShortDateString()</p>
        <p>Last known date of operation: @_station.Finish.ToShortDateString()</p>
        <a class="btn btn-primary" target="_blank" href="@($"http://maps.google.com/maps?q={_station.Latitude},{_station.Longtinude}")">Open location on Google Maps</a>
        <ChartJsLineChart @ref="_lineChartJs" Config="@_lineConfig" Width="600" Height="300" />
        <ChartJsBarChart @ref="_barChartJs" Config="@_barConfig" Width="600" Height="300" />
    </div>
}

@functions {
    [Parameter]
    public string StationCode { get; set; }

    WeatherStationDataDTO _station;

    protected override async Task OnInitializedAsync()
    {
        StationCode = StationCode ?? "";
        _station = await StationController.GetStationDataAsync(new Models.Models.Queries.GetStationDataQuery { Code = StationCode });
        UpdateLineChart(_station.Details);
        UpdateBarChart(_station.Details);
    }

    LineConfig _lineConfig;
    ChartJsLineChart _lineChartJs;
    private LineDataset<Point> _pointAverageDataset;
    private LineDataset<Point> _pointMinDataset;
    private LineDataset<Point> _pointMaxDataset;

    private void UpdateLineChart(IEnumerable<WeatherStationDetailsDTO> data)
    {
        _lineConfig = new LineConfig
        {
            Options = new LineOptions
            {
                Responsive = true,
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Average temperature for the last 12 observed months"
                },
                Legend = new Legend
                {
                    Position = Position.Right,
                    Labels = new LegendLabelConfiguration
                    {
                        UsePointStyle = true
                    }
                },
                Tooltips = new Tooltips
                {
                    Mode = InteractionMode.Nearest,
                    Intersect = false
                },
                Scales = new Scales
                {
                    xAxes = new List<ChartJs.Blazor.ChartJS.Common.Axes.CartesianAxis>
            {
                        new ChartJs.Blazor.ChartJS.Common.Axes.CategoryAxis
                        {
                            ScaleLabel = new ScaleLabel
                            {
                                LabelString = $"Month number from {GetFormattedDate(_station.Start)}"
                            }
                        }
                    },
                    yAxes = new List<CartesianAxis>()
            {
                        new LinearCartesianAxis
                        {
                            ScaleLabel = new ScaleLabel
                            {
                                LabelString = "Temperature C"
                            }
                        }
                    }
                }
            }
        };

        _pointAverageDataset = GetLineDataSet("Average", ColorUtil.ColorString(0, 255, 0));
        _pointMinDataset = GetLineDataSet("Min", ColorUtil.ColorString(0, 0, 255));
        _pointMaxDataset = GetLineDataSet("Max", ColorUtil.ColorString(255, 0, 0));

        _lineConfig.Data.Labels = Enumerable.Range(0, 12).Select(v => GetFormattedDate(_station.Finish.AddMonths(v - 12))).ToList();
        FillAndAddLineDataset(_pointAverageDataset, data.Select(v => v.Tavg));
        FillAndAddLineDataset(_pointMinDataset, data.Select(v => Convert.ToDouble(v.Tmin)));
        FillAndAddLineDataset(_pointMaxDataset, data.Select(v => Convert.ToDouble(v.Tmax)));
    }

    private LineDataset<Point> GetLineDataSet(string name, string color)
    {
        return new LineDataset<Point>()
        {
            BackgroundColor = ColorUtil.ColorString(0, 255, 0, 1.0),
            BorderColor = ColorUtil.ColorString(0, 0, 255, 1.0),
            Label = name,
            Fill = false,
            PointBackgroundColor = color,
            BorderWidth = 1,
            PointRadius = 3,
            PointBorderWidth = 1
        };
    }

    private void FillAndAddLineDataset(LineDataset<Point> dataset, IEnumerable<double> data)
    {
        var i = 1;
        dataset.AddRange(data.Select(v => new Point(i++, v)));
        _lineConfig.Data.Datasets.Add(dataset);
    }

    BarConfig _barConfig;
    ChartJsBarChart _barChartJs;
    private BarDataset<ChartJs.Blazor.ChartJS.Common.Wrappers.DoubleWrapper> _rainDataset;
    private BarDataset<ChartJs.Blazor.ChartJS.Common.Wrappers.DoubleWrapper> _snowDataset;

    private void UpdateBarChart(IEnumerable<WeatherStationDetailsDTO> data)
    {
        _barConfig = new BarConfig
        {
            Options = new BarOptions
            {
                Responsive = true,
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Average rain/snow conditions for the last 12 observed months"
                },
                Legend = new Legend
                {
                    Position = Position.Right,
                    Labels = new LegendLabelConfiguration
                    {
                        UsePointStyle = true
                    }
                },
                Tooltips = new Tooltips
                {
                    Mode = InteractionMode.Nearest,
                    Intersect = false
                },
                Scales = new BarScales
                {
                    XAxes = new List<CartesianAxis>
                    {
                            new ChartJs.Blazor.ChartJS.BarChart.Axes.BarCategoryAxis
                            {
                                BarPercentage = 0.5,
                                BarThickness = BarThickness.Flex,
                                ScaleLabel = new ScaleLabel
                                {
                                    LabelString = $"Month number from {GetFormattedDate(_station.Start)}"
                                }
                            }
                        },
                    YAxes = new List<CartesianAxis>()
                    {
                            new ChartJs.Blazor.ChartJS.BarChart.Axes.BarLinearCartesianAxis
                            {
                                Ticks = new ChartJs.Blazor.ChartJS.Common.Axes.Ticks.LinearCartesianTicks
                                {
                                    BeginAtZero = true
                                },
                                ScaleLabel = new ScaleLabel
                                {
                                    LabelString = "mm"
                                }
                            }
                        }
                }
            }
        };

        _rainDataset = GetBarDataSet("Rain", ColorUtil.ColorString(0, 255, 0));
        _snowDataset = GetBarDataSet("Snow", ColorUtil.ColorString(0, 0, 255));

        _barConfig.Data.Labels = Enumerable.Range(0, 12).Select(v => GetFormattedDate(_station.Finish.AddMonths(v - 12))).ToList();
        FillAndAddBarDataset(_rainDataset, data.Select(v => v.Rain));
        FillAndAddBarDataset(_snowDataset, data.Select(v => v.Snow));
    }

    private BarDataset<ChartJs.Blazor.ChartJS.Common.Wrappers.DoubleWrapper> GetBarDataSet(string name, string color)
    {
        return new BarDataset<ChartJs.Blazor.ChartJS.Common.Wrappers.DoubleWrapper>
        {
            Label = name,
            BackgroundColor = Enumerable.Range(0, 12).Select(v => color).ToArray(),
            BorderWidth = 0,
            HoverBackgroundColor = "#f06384",
            HoverBorderColor = "#f06384",
            HoverBorderWidth = 1,
            BorderColor = "#ffffff",
        };
    }

    private void FillAndAddBarDataset(BarDataset<ChartJs.Blazor.ChartJS.Common.Wrappers.DoubleWrapper> dataset, IEnumerable<double> data)
    {
        dataset.AddRange(data.Select(v => v).Wrap());
        _barConfig.Data.Datasets.Add(dataset);
    }

    private string GetFormattedDate(DateTime date)
    {
        return date.ToString("MMMM yyyy");
    }
}
