﻿@page "/stations"

@using WeatherDashboard.Api
@using WeatherDashboard.Models.Models.Results
@inject WeatherStationController StationController
@inject NavigationManager NavigationManager

<h1>Weather stations</h1>

@if (_provinces == null || _provinces.Count() == 0)
{
    <p><em>Loading...</em></p>
}
else
{
<div class="form-group">
    <div class="row">
        <div class="col col-2 pt-2">Provinces</div>
        <select class="form-control col-md-auto" id="provinces" style="width:auto;" @onchange=@ProvinceChanged>
            @foreach (var p in _provinces)
            {
                <option value=@p.ProviceCode>@p.ProviceCode</option>
            }
        </select>
    </div>
    <div class="row">
        <span class="col" @attributes="GetStationCountAttributes()"><small>Province has @_stationCount station(s)</small></span>
    </div>
</div>
    <table class="table">
        <thead>
            <tr>
                <th>Station name</th>
                <th>First Year</th>
                <th>Last Year</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @if (!_stations.Any())
            {
                <tr><td colspan="4">Station list is loading ...</td></tr>
            }
            else
            {
                @foreach (var s in _stations)
                {
                    <tr>
                        <td>@s.StationName</td>
                        <td>@s.YearStart</td>
                        <td>@s.YearFinish</td>
                        <td>
                            <NavLink class="nav-link p-0" href="@($"stationdetails/{s.StationCode}")">
                                Details
                            </NavLink>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@functions {
    IEnumerable<WeatherProviceDTO> _provinces;
    IEnumerable<WeatherStationListDTO> _stations;
    int _stationCount;

    protected override async Task OnInitializedAsync()
    {
        var provincesTask = StationController.FindProvincesAsync();
        var stationsTask = StationController.FindStationsAsync(new Models.Models.Queries.FindStationsQuery { Province = "AB" });
        await Task.WhenAll(provincesTask, stationsTask);
        _provinces = provincesTask.Result.Data;
        _stations = stationsTask.Result.Data;
        _stationCount = _stations.Count();
    }

    private async Task ProvinceChanged(ChangeEventArgs e)
    {
        var selectedString = e.Value.ToString();
        _stations = new List<WeatherStationListDTO>();
        _stations = (await StationController.FindStationsAsync(new Models.Models.Queries.FindStationsQuery { Province = selectedString })).Data;
        _stationCount = _stations.Count();
     }

    private Dictionary<string, object> GetStationCountAttributes()
    {
        var attrs = new Dictionary<string, object>();
        if (_stations == null || !_stations.Any()) attrs.Add("style", "display: none;");
        else attrs.Add("style", "display: block;");
        return attrs;
    }
}
