﻿@page "/"

<h1>Welcome to this test project</h1>
<p>This test project was built by <a href="mailto:vik.uvarov@gmail.com">vik.uvarov@gmail.com</a> for demonstrating of software development abilities</p>
<p>It contains a lot of interesting technologies:
    <ul>
        <li>
            <a href="https://docs.microsoft.com/en-us/aspnet/?view=aspnetcore-3.0#pivot=core" target="_blank">.NET Core 3.0</a> and
            <a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-3.0" target="_blank"><b>Blazor</b></a>
        </li>
        <li>
            <a href="https://docs.microsoft.com/en-us/ef/core/" target="_blank">.NET Core Entity Framework</a> +
            <a href="http://automapper.org/" target="_blank">Automapper</a>. Automapper is used only in tests method. The data structure that I selected (only one table) doesn't allow to use projecting with Automapper with all the features

        </li>
        <li>
            <a href="https://www.mysql.com/" target="_blank">MySQL DB</a> that was selected to make the
            <a href="https://www.docker.com/" target="_blank">Docker</a> hosting model (with docker-compose configuration file)
            The current DB structure is not normalized. I used only one table (as is in the data export) but added one column to make station search easier (by provinces). It works, but slow, it's better to remake DB, it was not clear in the description about DB structure, can I change it or not.
            I have Windows Home version on my dev computer, so I can use only Docker Tools to play with Docker containters (with Linux images). I hope that this configuration should work, on my computer it works fine. 
        </li>
        <li>
            <a href="https://github.com/riskfirst/riskfirst.hateoas" target="_blank">HATEOAS</a> functionality for .NET web api. I used only models because it doesn't work fully (maybe because I don't use MVC')
        </li>
        <li>
            <a href="https://github.com/Joelius300/ChartJSBlazor/" target="_blank">ChartJS</a> for Blazor. There are some visual issued wioth this library because it's a deep beta (or alpha)
        </li>
        <li>
            Unittests based on
            <a href="https://nunit.org/" target="_blank">NUnit</a>,
            <a href="https://github.com/moq/moq4" target="_blank">Moq</a> and
            <a href="https://github.com/AutoFixture/AutoFixture" target="_blank">Autofixture</a>. I didn't cover all the code by unittests, only creates some tests that allow to check the architecture
        </li>
        <li>Multilayer architecture with <a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/dependency-injection?view=aspnetcore-3.0" target="_blank">Dependency Injection</a></li>
    </ul>
    I used the standard <a href="https://visualstudio.microsoft.com/" target="_blank">Visual Studio 2019</a> template for Blazer project. It was a lot of fun during development because the most part of the technologies are new and sometimes only in pre-release state. But it works and I am happy!
</p>

