﻿@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-3.0" target="_blank">About Blazor</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
